@{
    ViewBag.Title = "Новость";
}

<h5>@ViewBag.New.PostDate: </h5>
<h2>@ViewBag.New.Title</h2>
<p>@ViewBag.New.Text</p>

<hr size="1" width="100%" />
@if(ViewBag.Username != "Guest")
{
        <p>Добавить комментарий:</p>
    using (Html.BeginForm("AddComment", "Home", new { ID = ViewBag.New.ID }))
    {   
        <p>@Html.TextBox("Comment", "")</p>
        <input type="submit" value="Отправить"/>
    }
    <hr size="1" width="100%" /><br/>
}
<h4>Комментарии:</h4>
@foreach(var cm in ViewBag.Comments) 
{
    <p>(@cm.PublishDate) @cm.Author: <em>@cm.Text</em></p>
}